.create-match-form {
  /* Flexing */
  display: flex;
  flex-direction: column;
  gap: 1rem;

  /* Background */
  background-color: var(--color-primary);
  border: 1px solid var(--color-create-lobby);
  border-radius: 10px;
  box-shadow: 0 0px 20px var(--color-create-lobby), 0 0px 20px var(--color-create-lobby);

  /* Size */
  width: 20vw;
  height: 100%;

  /* Padding + Margin */
  margin-right: 3vw;
}

.create-match-form h2 {
  /* Text */
  color: var(--color-create-lobby);
  font-family: "Press Start 2P", sans-serif;
  font-size: 1rem;

  /* Positioning */
  margin-left: 1rem;
}

/*############################
  #### CATEGORIES SECTION ####
  ############################*/
.categories-container {
  /* Flexing */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;

  /* Padding + Margin */
  margin-left: 1.5rem;

  /* Size */
  height: 40%;

  /* Overflow */
  overflow-y: auto;
  scrollbar-width: none;
}

.categories-container summary {
  /* Hide defualt summary arrow */
  list-style: none;
  align-items: center;
  vertical-align: center;

  /* Background */
  background-color: var(--color-background);
  border: 1px solid var(--color-create-lobby);
  border-radius: 5px;

  /* Padding + Margin */
  padding: 0.25rem;

  /* Size */
  height: 3vh;
  width: 9vw;

  /* Cursor */
  cursor: pointer;

  overflow-y: scroll;
}

.categories-container summary::-webkit-details-marker {
  display: none;
}

.categories-container summary:hover {
  background-color: var(--color-create-lobby);
  color: var(--color-text);
}

.categories-container ul {
  /* list styling */
  list-style: none;
  display: flex;
  flex-direction: column;

  /* Positioning */
  position: fixed;
  top: 19vh;
  right: 4vw;

  /* Size */
  height: 22vh;
  width: 5vw;

  /* Background */
  background-color: var(--color-background);
  border: 1px solid var(--color-create-lobby);
  border-radius: 5px;

  /* Overflow */
  overflow-y: scroll;
  scrollbar-width: none;
}

.categories-container li {
  /* Content positioning */
  margin-left: -2.5vw;
}

.categories-container ul button {
  /* Background */
  background-color: transparent;
  border: none;

  /* Text */
  color: var(--color-text);
  font-weight: bold;
  font-size: 0.8rem;

  /* Size */
  width: 100%;
  height: 100%;

  cursor: pointer;
}

.categories-container ul button:hover {
  background-color: var(--color-create-lobby);
  color: var(--color-text);
}

/*############################
  #### DIFFICULTY SECTION ####
  ############################*/
.difficulty-dropdown-container {
  /* Flexing */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;

  /* Padding + Margin */
  margin-left: 1.5rem;

  /* Size */
  height: 10%;
}

.difficulty-dropdown-container summary {
  /* Hide defualt summary arrow */
  list-style: none;
  align-items: center;
  vertical-align: center;

  /* Background */
  background-color: var(--color-background);
  border: 1px solid var(--color-create-lobby);
  border-radius: 5px;

  /* Padding + Margin */
  padding: 0.25rem;

  /* Size */
  height: 3vh;
  width: 9vw;

  /* Cursor */
  cursor: pointer;
}

.difficulty-dropdown-container summary:hover {
  background-color: var(--color-create-lobby);
  color: var(--color-text);
}

.difficulty-dropdown-container ul {
  /* list styling */
  list-style: none;
  display: flex;
  flex-direction: column;

  /* Positioning */
  position: fixed;
  top: 55vh;
  right: 4vw;

  /* Size */
  height: 10vh;
  width: 5vw;

  /* Background */
  background-color: var(--color-background);
  border: 1px solid var(--color-create-lobby);
  border-radius: 5px;
}

.difficulty-dropdown-container li {
  /* Content positioning */
  margin-left: -2.2vw;
  margin-bottom: 1.2vh;
}

.difficulty-button {
  /* Background */
  background-color: transparent;
  border: none;

  /* Text */
  color: var(--color-text);
  font-weight: bold;
  font-size: 0.8rem;

  /* Size */
  width: 100%;
  height: 100%;

  cursor: pointer;
}

#easy:hover {
  background-color: var(--color-easy);
  color: black;
}

#medium:hover {
  background-color: var(--color-medium);
  color: black;
}

#hard:hover {
  background-color: var(--color-hard);
  color: black;
}

/*####################################
  #### NUMBER OF QUESTIONS SLIDER ####
  ####################################*/
.create-match-form input[type="range"] {
  /* Padding + Margin */
  margin: 1.2rem auto;
  display: block;

  /* Size */
  width: 80%;

  /* Remove default styles */
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

/* OUTER TRACK STYLING */
.create-match-form input[type="range"]::-webkit-slider-runnable-track {
  /* Size */
  height: 8px;
  background-color: linear-gradient(
    to right,
    var(--color-secondary) 50%,
    white 50%
    );
  border-radius: 5px;
  box-shadow: 0 0px 5px var(--color-create-lobby);
}

.create-match-form input[type="range"]::-moz-range-track {
  /* Size */
  height: 8px;
  background-color: linear-gradient(
    to right,
    var(--color-primary) 50%,
    var(--color-accent) 50%
    );
  border-radius: 5px;
  box-shadow: 0 0px 5px var(--color-create-lobby);
}

/* THUMB STYLING */
.create-match-form input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: var(--color-background);
  border: 1px solid var(--color-create-lobby);
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.15s ease;
  margin-top: -6px;
  box-shadow: 0 0px 5px var(--color-create-lobby);
}

.create-match-form input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: var(--color-background);
  border: 1px solid var(--color-create-lobby);
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.15s ease;
  margin-top: -6px;
  box-shadow: 0 0px 5px var(--color-create-lobby);
}

/* HOVER AND ACTIVE STYLES */
.create-match-form input[type="range"]::-webkit-slider-thumb:hover,
.create-match-form input[type="range"]::-moz-range-thumb:hover {
  transform: scale(1.1);
  box-shadow: 0 0px 15px var(--color-create-lobby);
}

.create-match-form input[type="range"]::-webkit-slider-thumb:active,
.create-match-form input[type="range"]::-moz-range-thumb:active {
  transform: scale(1.2);
  box-shadow: 0 0px 15px var(--color-create-lobby);
}

.nq-value {
  /* Text */
  font-size: 1.1rem;

  /* Positioning */
  margin-left: 1rem;
}

/*############################
  #### CREATE MATCH BUTTON ####
  ############################*/
.create-match-button {
  /* Positioning */
  margin-bottom: 2vh;
  margin-left: 50%;
  transform: translateX(-50%);

  /* Styling */
  background-color: var(--color-accent);
  border: none;
  border-radius: 5px;
  width: 15rem;
  height: 2.5rem;

  /* Text */
  font-size: 1.1rem;
  color: var(--color-background);
  font-weight: bold;
  font-family: "Press Start 2P", sans-serif;
}

.create-match-button:hover {
  background-color: var(--color-accent);
  color: var(--color-text);
  box-shadow: 0 0 10px var(--color-accent), 0 0 10px var(--color-accent), 0 0 40px var(--color-accent);
}
